<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="seungeasy.crewnavigator.domain.user.mapper.UserQueryMapper">

    <!-- ========== getUserInfo ========== -->
    <select id="getUserInfo" resultType="UserInfoRow">
        SELECT user_id, name, email, phone, gender, status, is_locked, user_image, created_at, deleted_at
        FROM `user`
        WHERE user_id = #{userId}
    </select>

</mapper>
